// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$reportDark: #263238;

// Tables
$table-active-bg: rgba(39, 255, 157, .1);  